- round = sub_round.round
%td{class: placement_cell_classes(sub_round.dance)}
  = format_placement_cell(couple, sub_round)
- round.adjudicators.each do |j|
  %td{class: mark_cell_classes(sub_round, j)}= format_cell(couple, sub_round, j)

- 1.upto(round.couples.count) do |i|
  %td{class: cumulative_cell_classes(i)}
    = format_cumulative_cell(couple, sub_round, i)
