language: ruby
cache: bundler
env:
  - DB=sqlite
  - DB=mysql
  - DB=postgresql

rvm:
  - 2.0.0

script:
  - RAILS_ENV=test bundle exec rake --trace db:setup
  - RAILS_ENV=test bundle exec rake --trace cucumber
  - RAILS_ENV=test bundle exec rake spec SPEC=spec/models SPEC_OPTS="--format documentation"

before_script:
  - mysql -e 'create database railskating_test'
  - psql -c 'create database railskating_test;' -U postgres

notifications:
  email: false
