language: ruby
env:
  - DB=sqlite
  - DB=mysql
  - DB=postgresql

rvm:
  - 2.1.1

script:
  - RAILS_ENV=test bundle exec rake --trace test_with_coveralls

before_script:
  - mysql -e 'create database railskating_test'
  - psql -c 'create database railskating_test;' -U postgres

notifications:
  email: false
