- round = final_round
- cache(round) do
  %div.table-responsive[round, :wrapper]
    %h3.round_title= t '.title', number: round.number
    = render partial: 'sub_rounds/final_sub_round',
      collection: round.sub_rounds, as: :sub_round

    - if round.event.multi_dance?
      %h3.final_summary= t '.final_summary'
      = render partial: 'events/final_summary', object: round.event, as: :event
