- cache(round) do
  %div[round, :wrapper]
    %h3.round_title= "Round #{round.number}"
    %table.table-striped.table-bordered.table-hover[round, :results]
      %tr.header_row
        %th.number_header Number
        %th.lead_header Leader
        %th.follow_header Follower
        - round.sub_rounds.each do |sr|
          %th{colspan: round.adjudicators.length}[sr.sub_event.dance, :header]<
            = sr.sub_event.dance.base_name
      = render round.couples, round: round
