- cache(round) do
  %div.table-responsive[round, :wrapper]
    %h3.round_title= "Round #{round.number}"
    %table.table-striped.table-bordered.table-hover{class: round_table_classes(round),
                                                    id: round_table_id(round)}
      %thead
        %tr.header_row_first
          %th.couple_number_col{rowspan: 2} Number
          %th.couple_leader_col{rowspan: 2} Leader
          %th.couple_follower_col{rowspan: 2} Follower
          - round.sub_rounds.each do |sr|
            %th{colspan: round.adjudicators.length,
                class: dance_to_class_name(sr.sub_event.dance)}<
              = sr.sub_event.dance.base_name
          - unless round.final?
            %th.recalled_col{rowspan: 2}

        %tr.header_row_judges
          - round.sub_rounds.each do |sr|
            - round.adjudicators.each do |ad|
              %th{class: adjudicator_header_classes(ad, sr)}
                %div{data: {title: ad.user.name}}= ad.shorthand
      %tbody
        = render round.couples, round: round
