@mixin result-table {
  td {
    white-space: nowrap;
  }
  th.adjudicator_col {
    text-align: center;
  }
  td.data_cell {
    width: 1em;
    text-align: center;

    i.fa-heart {
      color: #1D9D74;
    }
  }
}

table.results_round {
  @include result-table;
}

table.results_sub_round_final {
  @include result-table;

  td.placement_cell {
    font-weight: bold;
  }
}
